.about {
  margin-bottom: 120px;

  // height: 485px;
  &__left-side {
    width: 570px;
  }
  &__list {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
  }
  &__item {
    &:first-child {
      margin-right: 30px;
      height: 265px;
    }
    &:nth-child(2n) {
      margin-bottom: 60px;
      margin-top: 40px;
    }
    &:last-child {
      margin-top: -135px;
    }
  }
  &__right-side {
  }
  &__title {
    font-weight: 300;
    font-size: 64px;
    line-height: 1;
    color: #bdbdbd;
    margin-bottom: 20px;
  }
  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.56;
    color: #000000;
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
  }
  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 12px;
  }
  &__btn {
    font-weight: normal;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 222px;
    height: 71px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background: #f2f2f2;
    }
  }
}
