.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    header & {
        padding-top: 45px;
        padding-bottom: 45px;

    }
    .hero & {
        display: flex;
        justify-content: space-between;
    }
}